header{
	background-color:#212121;
	margin-bottom:-15px;
}
.container {
    margin: 0 auto;
    width: 1092px;
}
.pdiv{
	background-color: #4f4f4f;
	height:40px;
}
.pdiv a{
	font-size:12pt;
	float:right;
	margin-top:10px;
	margin-right:15px;
	text-decoration:none;
	color:white;
}

#brand {
    color: white;
    font-family: "Montserrat",Helvetica,Arial,sans-serif;
    font-size: 22pt;
    font-weight: bold;
    height: 50px;
    margin: 0;
    margin-top: 25px;
    padding: 0;
    text-align: center;
}

#menu {
    background-color: #212121;
    height: 50px;
}
#menu ul {
    list-style: none;
    margin: 0;
    padding: 15px;
    text-align: center;
}

#menu ul li {
    display: inline;
}

#menu ul li a {
    color: #9E9E9E;
    padding: 2px 10px;
    text-decoration: none;
	margin-right:10px;
}

#menu ul li a:hover {
    text-decoration: underline;
    color: #BDBDBD;
    margin-top: 30px;
}

main {
    margin-top: 15px;
}

aside {
    float: left;
    width: 30%;
}

aside h3 {
    color: #212121;
}

.ordenarProdutos{
    float: right;
    margin-right: 60px;
    margin-top: 0;
    width: 80%;
    color: #9E9E9E;
}

.ordenarP{
    font: bold;
    color: #9E9E9E;
}

#menu-left ul li {
    list-style: none;
    padding: 2px 10px;
    text-decoration: none;
}

#menu-left ul li a {
    color: #9E9E9E;
    text-decoration: none;
}

#menu-left a:hover {
    text-decoration: underline;
    color: #BDBDBD;
    }
/*CSS INDEX*/

.imgbanner{
	width:100%;
	height:500px;
}
#barra{	
		margin-left:400px;
		margin-right:400px;
		height: 60px; 
		background-color:#4f4f4f;
		padding: auto;
		border-radius:4px;	
		margin-bottom:20px;
}
#barra h2{
		text-align:center;
		padding-top:18px;
		overflow:hidden;	
		color: white;
		font-weight: bold;
}

#barra h2 a {
		color: white;
		text-decoration: none;
}

.prods1{
		width:1092px;
		height:relative;
        margin:0  auto;
        overflow:hidden;
        background-color:white;
}
.prods1 .prod{
		width:auto;
        height:relative;
        float:left;
		margin:3px;
}
.prods1 a {
		text-decoration:none;
		color:black;
}

.prods1 a:hover {
		background-color:#9E9E9E;
}
.imgprod {
		width:267px; 
		height:325px;
		
		
}
#vermais{	
		margin-left:600px;
		margin-right:600px;
		height: 40px; 
		background-color:#4f4f4f;
		border-radius:4px;
		margin-bottom:100px;
}
#vermais h4{
		text-align:center;
		padding-top:10px;
		overflow:hidden;	
		color: white;
		font-weight: bold;
}

#vermais h4 a {
		color: white;
		text-decoration: none;
}

figure {
    margin: 0;
}

.gallery .control-button {
  color: #ccc;
  color: rgba(255, 255, 255, 0.4);
}

.gallery .control-button:hover {
  color: white;
  color: rgba(255, 255, 255, 0.8);
}
.gallery {
  position: relative;
}
.gallery .controls {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}
.gallery .control-button {
  display: inline-block;
  margin: 1 .12em;
  font-size: 4em;
  text-align: center;
  text-decoration: none;
  transition: color .1s;
}
.gallery .control-operator:target ~ .controls .control-button {
  color: #ccc;
  color: rgba(255, 255, 255, 0.4);
}

.gallery .control-button:first-of-type,
.gallery .control-operator:nth-of-type(1):target ~ .controls .control-button:nth-of-type(1),
.gallery .control-operator:nth-of-type(2):target ~ .controls .control-button:nth-of-type(2),
.gallery .control-operator:nth-of-type(3):target ~ .controls .control-button:nth-of-type(3){
  color: white;
  color: rgba(255, 255, 255, 0.8);
}

.gallery .item:first-of-type {
  position: static;
  pointer-events: auto;
  opacity: 1;
}

.gallery .item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  opacity: 0;
  -webkit-transition: opacity .5s;
  -o-transition: opacity .5s;
  transition: opacity .5s;
}

.gallery .control-operator {
  display: none;
}

.gallery .control-operator:target ~ .item {
  pointer-events: none;
  opacity: 0;
  -webkit-animation: none;
  -o-animation: none;
  animation: none;
}

.gallery .control-operator:target ~ .controls .control-button {
  -webkit-animation: none;
  -o-animation: none;
  animation: none;
}

.gallery .control-operator:nth-of-type(1):target ~ .item:nth-of-type(1) {
  pointer-events: auto;
  opacity: 1;
}

.gallery .control-operator:nth-of-type(2):target ~ .item:nth-of-type(2) {
  pointer-events: auto;
  opacity: 1;
}
.items-2.autoplay .control-button {
  -webkit-animation: controlAnimation-2 14s infinite;
  -o-animation: controlAnimation-2 14s infinite;
  animation: controlAnimation-2 14s infinite;
}

.items-2.autoplay .item {
  -webkit-animation: galleryAnimation-2 14s infinite;
  -o-animation: galleryAnimation-2 14s infinite;
  animation: galleryAnimation-2 14s infinite;
}

.items-2 .control-button:nth-of-type(1),
.items-2 .item:nth-of-type(1) {
  -webkit-animation-delay: -2s;
  -o-animation-delay: -2s;
  animation-delay: -2s;
}

.items-2 .control-button:nth-of-type(2),
.items-2 .item:nth-of-type(2) {
  -webkit-animation-delay: 5s;
  -o-animation-delay: 5s;
  animation-delay: 5s;
}

.gallery .control-operator:nth-of-type(1):target ~ .item:nth-of-type(1) {
  pointer-events: auto;
  opacity: 1;
}

.gallery .control-operator:nth-of-type(2):target ~ .item:nth-of-type(2) {
  pointer-events: auto;
  opacity: 1;
}

.gallery .control-operator:nth-of-type(3):target ~ .item:nth-of-type(3) {
  pointer-events: auto;
  opacity: 1;
}

.items-3.autoplay .control-button {
  -webkit-animation: controlAnimation-3 21s infinite;
  -o-animation: controlAnimation-3 21s infinite;
  animation: controlAnimation-3 21s infinite;
}

.items-3.autoplay .item {
  -webkit-animation: galleryAnimation-3 21s infinite;
  -o-animation: galleryAnimation-3 21s infinite;
  animation: galleryAnimation-3 21s infinite;
}

.items-3 .control-button:nth-of-type(1),
.items-3 .item:nth-of-type(1) {
  -webkit-animation-delay: -2s;
  -o-animation-delay: -2s;
  animation-delay: -2s;
}

.items-3 .control-button:nth-of-type(2),
.items-3 .item:nth-of-type(2) {
  -webkit-animation-delay: 5s;
  -o-animation-delay: 5s;
  animation-delay: 5s;
}

.items-3 .control-button:nth-of-type(3),
.items-3 .item:nth-of-type(3) {
  -webkit-animation-delay: 12s;
  -o-animation-delay: 12s;
  animation-delay: 12s;
}

/*FIM CSS INDEX*/


/* CSS CONTATO*/
.formulario{
    width:relative;
    margin-left: 175px;
    margin-right: 150px;
    margin-top: 50px;
    height: 400px;
    margin-bottom: 50px;
}
.info h2{
    text-align: center;
    color: #212121;
}
.forms label{
    margin-left: 135px;
    color: #212121;
}
.forms .msg{
    margin-left: 310px;
}
.nome{
    float: left;
    margin-top: 10px;   
    margin-left: 20px;
    margin-right:0 auto;
    margin-bottom: 20px;
}
#nome{
    height: 22px;
    width: 330px;
}
.email{
    float: left;   
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}
#email{
    height: 22px;
    width: 330px;
}
.telefone{
    float: left;  
    margin-top: 10px; 
    margin-left: 20px;
    margin-right: 0 auto;
    margin-bottom: 20px;
}
#telefone{
    height: 22px;
    width: 330px;
}
.assunto{
    float: left;   
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 0 auto;
    margin-bottom: 20px;
}
#assunto{
    height: 22px;
    width: 330px;
}
.mensagem{
    float: left;   
    margin-left: 20px;
    margin-right: 100px;
    margin-top: 10px;
}
#mensagem{
    width:680px;
    height:130px; 
}

.enviar{
    float: left;   
    margin-left: 350px;
    margin-right: 300px;  
}


.botao {
    font-weight: 700;
    font-family: "Montserrat",Helvetica,Arial,sans-serif;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-size: 12px;
    line-height: 1.42857143;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    margin-left: -30px;
    font-size: 14px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 3px;
}

/*FIM CSS CONTATO*/

#products-list {
    float: right;
    min-height: 420px;
    width: 70%;
}

    .product-image {
        float: left;
        width: 30%;
        margin-right:25px;
        margin-bottom: 60px;
        margin-top: 15px;
    }

    .product-image a {
        text-decoration: none;
        color : #212121;
    }
      .product-image .img :hover {
        background-color: #9E9E9E;
    }

    .product-image p {
        font: bold;
        font-size: 16pt;
    }
    .product-image img {
        padding: 0;
        width:250px; 
        height:300px
    }


footer { 
    clear: both; /*Joga o rodapé abaixo do maior elemento anterior*/
    background-color: #212121;
    height: 300px;
}

.text-footer-left{
    color: #9E9E9E;
    float: left;
    font-size: 15px;
    margin: 0 auto;
    margin-left: 35px;
    padding-top: 20px;
    text-align: center;
    width: 30%;
}

    .text-footer-left a{
        color: #9E9E9E;
        text-decoration: none;
        font-size: 12pt;
    }

#brand-footer{
    text-align: center;
    color: white;
    font-size: 14pt;
}

.text-footer-center {
    color: #9E9E9E;
    float: inherit;
    font-size: 12pt;
    margin: 0 auto;
    padding-top: 10px;
    text-align: center;
    width: 40%;
}
    .text-footer-center a{
        color: #9E9E9E;
        text-decoration: none;
        font-size: 12pt;
    }

    .text-footer-center p{
        color: #9E9E9E;
        font-size: 12pt;
        text-decoration: none;
    }

    

.text-footer-right {
    color: #9E9E9E;
    font-size: 12pt;
    float: right;
    margin-right: 35px;
    margin-top: -100px;
    text-align: center;
    width: 30%;
}
    .text-footer-right a{
        color: #9E9E9E;
        text-decoration: none;
        font-size: 10pt;
    }

      .text-footer-right p{
        color: #9E9E9E;
        text-decoration: none;
        font: bold;
        font-size: 12pt;
    }
