.container {
    margin: 0 auto;
    width: 1092px;
}

#brand {
    color: #212121;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22pt;
    font-weight: bold;
    height: 50px;
    margin: 0;
    margin-top: 25px;
    padding: 0;
    text-align: center;
}

#menu {
    background-color: #212121;
    height: 50px;
}
#menu ul {
    list-style: none;
    margin: 0;
    padding: 15px;
    text-align: center;
}

#menu ul li {
    display: inline;
}

#menu ul li a {
    color: #9E9E9E;
    padding: 2px 10px;
    text-decoration: none;
}

#menu ul li a:hover {
    text-decoration: underline;
    color: #BDBDBD;
    margin-top: 30px;
} 

main {
    margin-top: 15px;
}

aside {
    float: left;
    width: 30%;
}

aside h3 {
    color: #212121;
}

.ordenarProdutos{
    float: right;
    margin-right: 60px;
    margin-top: -35px;
}

.ordenarP{
    font: bold;
    color: #9E9E9E;
}

#menu-left ul li {
    list-style: none;
    padding: 2px 10px;
    text-decoration: none;
}

#menu-left ul li a {
    color: #9E9E9E;
    text-decoration: none;
}

#menu-left a:hover {
    text-decoration: underline;
    color: #BDBDBD;
    }
/*CSS INDEX*/
.imgbanner{
	width:100%; 
	height:600px;
}

#barra{	
		margin-left:400px;
		margin-right:400px;
		height: 60px; 
		background-color:#212121;
		padding: auto;
		border-radius:4px;
		margin-bottom:20px;
}
#barra h2{
		text-align:center;
		padding-top:18px;
		overflow:hidden;	
		color: white;
		font-weight: bold;
}

#barra h2 a {
		color: white;
		text-decoration: none;
}
#barra2{	
		margin-left:400px;
		margin-right:400px;
		height: 60px; 
		background-color:#212121;
		padding: auto;
		border-radius:4px;
		margin-bottom:20px;
}
#barra2 h2{
		text-align:center;
		padding-top:18px;
		overflow:hidden;	
		color: white;
		font-weight: bold;
}
#barra2 h2 a {
		color: white;
		text-decoration: none;
}
.prods1{
		width:1092px;
        margin:0  auto;
        overflow:hidden;
        background-color:white;
        margin-bottom:20px;
}
.prods1 .prod{
		width:auto;
        height:500px;
        float:left;
}

.prods1 .prod{
	        margin:3px;
}

.prods1 a {
		text-decoration:none;
		color:black;
}

.prods1 a p {
		margin : 0 auto;
}

.imgprod {
		width:267px; 
		height:350px;
}

/*FIM CSS INDEX*/

/* CSS CONTATO*/

fieldset {
    border: none;
}

label {
    cursor: default;
    font-family: Arial, Helvetica, sans-serif;
}
.legend {
    color: #393838;
}

#name {
    border-width: 0.1px;
    border-radius: 6px; 
    width: 450px;
}

#email {
    border-width: 0.1px;
    border-radius: 6px;
    width: 450px;
}

#telephone {
    border-width: 0.1px;
    border-radius: 6px;
    width: 440px;
}

#message {
    border-width: 0.1px;
    border-radius: 6px;
    width: 500px;
}

em {
    color: red;
}

#contactForm {
    display: block;
    clear: both;
}

/*FIM CSS CONTATO*/

#products-list {
    float: right;
    min-height: 420px;
    width: 70%;
}

    .product-image {
        float: left;
        width: 30%;
        margin-right:25px;
        margin-bottom: 60px;
    }

    .product-image a {
        text-decoration: none;
        color : #212121;
    }
      .product-image .img :hover {
        background-color: #9E9E9E;
    }

    .product-image p {
        font: bold;
        font-size: 16pt;
    }
    .product-image img {
        padding: 0;
        width:250px; 
        height:300px
    }

footer {
    clear: both; /*Joga o rodapé abaixo do maior elemento anterior*/
    background-color: #212121;
    height: 100px;
}

#text-footer {
    color: #9E9E9E;
    margin: 0 auto;
    text-align: center;
    width: 940px;
    font-size: 15px;
}

